## Prueba SQL para Data Science (G10)
### Gustavo Morales

<div class="alert alert-block alert-info">
<center><b>Parte 0:</b> LIBRERIAS PYTHON</center>
</div>

In [1]:
# file manipulation and data operations
import glob
import numpy as np
import pandas as pd
import csv
import pickle

# PostgreSQL database adapter
import psycopg2

# Python SQL toolkit and ORM
from sqlalchemy import create_engine

# auxiliar functions
from src import helpers, aux_funcs

# machine learning algorithms
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import BernoulliNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

# remove warnings (not always recommended)
import warnings 
warnings.filterwarnings('ignore')

### PARTE 1

<div class="alert alert-block alert-info">
<center><b>Parte 1:</b> REGISTRO DE LOS ARCHIVOS EN LA BASE DE DATOS</center>
</div>

In [2]:
dbname = 'morales_gustavo'
user = 'gus'
password = 'postgres'

In [3]:
# connect to db
conn = psycopg2.connect("dbname=%s user=%s password=%s" % (dbname, user, password))

In [4]:
# define train and test data filenames
train_data = 'data/train_cupid.csv'
test_data = 'data/test_cupid.csv'

In [5]:
# check connection status
c = 'Connection OK!' if conn.status == 1 else 'Connection ERROR'
print(c)

Connection OK!

In [6]:
# set autocommit to better handle transaction errors in a python notebook
conn.autocommit = True

In [7]:
# enable traversal over the records in a database via a 'cursor' object
cur = conn.cursor()

In [8]:
# create tables in database
aux_funcs.execute_create_table_statement_from_csv(train_data, cur)
aux_funcs.execute_create_table_statement_from_csv(test_data, cur)

In [9]:
# populate CSV train data table in SQL database
aux_funcs.execute_insert_statement_from_csv(train_data, 98, cur)

processing row number 0...
processing row number 5000...
processing row number 10000...
processing row number 15000...
processing row number 20000...
processing done!

In [10]:
# populate CSV test data table in SQL database
aux_funcs.execute_insert_statement_from_csv(test_data, 98, cur)

processing row number 0...
processing row number 5000...
processing row number 10000...
processing row number 15000...
processing done!

### PARTE 2

<div class="alert alert-block alert-info">
<center><b>Parte 2:</b> ENTRENAMIENTO DE LOS MODELOS</center>
</div>

`2.1` **Ingesta de tablas de entrenamiento y de prueba**

Personalmente prefiero usar el _wrapper_ de `pandas`: está testeado y optimizado, cubre tanto `psycopg2` como `sqlalchemy`, y no depende de darle explícitamente un objeto `cursor`, sólo de una conexión activa. De todas maneras a continuación describo cómo se hace la ingesta de datos utilizando explícitamente `psycopg2`; luego de eso utilizo `pandas.read_sql_query`:

```python
cursor = conn.cursor()

cursor.execute('SELECT * FROM train_cupid')
df_train = pd.DataFrame(list(cursor.fetchall()))
df_train.columns = [desc.name for desc in cursor.description]

cursor.execute('SELECT * FROM test_cupid')
df_train = pd.DataFrame(list(cursor.fetchall()))
df_train.columns = [desc.name for desc in cursor.description]

cursor.close()
```

In [11]:
# retrieve all data from the training table and load it in a dataframe
query_train = pd.read_sql_query('SELECT * FROM train_cupid', conn)
df_train = pd.DataFrame(query_train)
df_train.sample(10)

,age,height,virgo,taurus,scorpio,pisces,libra,leo,gemini,aries,...,orientation_straight,sex_m,smokes_sometimes,smokes_trying_to_quit,smokes_when_drinking,smokes_yes,body_type_overweight,body_type_regular,education_high_school,education_undergrad_university
17155,25,70.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
14138,25,74.0,0,0,0,0,1,0,0,0,...,1,1,0,0,0,0,0,0,0,0
8250,59,71.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
7537,47,71.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,0
934,25,74.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1
4293,32,67.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
17900,27,62.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
9900,69,66.0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1
11108,36,66.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
13849,37,67.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1

In [12]:
# retrieve all data from the testing table and load it in a dataframe
query_test = pd.read_sql_query('SELECT * FROM test_cupid', conn)
df_test = pd.DataFrame(query_test)
df_test.sample(10)

,age,height,virgo,taurus,scorpio,pisces,libra,leo,gemini,aries,...,orientation_straight,sex_m,smokes_sometimes,smokes_trying_to_quit,smokes_when_drinking,smokes_yes,body_type_overweight,body_type_regular,education_high_school,education_undergrad_university
17732,22,65.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
12639,29,62.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
16626,54,71.0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,1
1139,22,77.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
17379,41,72.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1
7833,41,68.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,1,0,1,0,1
11549,48,70.0,0,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,0,0
10014,48,71.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
5092,25,73.0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,1
3490,32,69.0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [13]:
# close database connection
conn.close()

In [14]:
# check training dataframe
df_train.info(max_cols=0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20081 entries, 0 to 20080
Columns: 98 entries, age to education_undergrad_university
dtypes: float64(3), int64(95)
memory usage: 15.0 MB

In [15]:
# check testing dataframe
df_test.info(max_cols=0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19943 entries, 0 to 19942
Columns: 98 entries, age to education_undergrad_university
dtypes: float64(3), int64(95)
memory usage: 14.9 MB

`2.2` **Entrenamiento: 7 algoritmos, 3 vectores objetivos → 21 modelos**

In [16]:
# define train and test matrices and target vectors
X_train = df_train.drop(columns=['single', 'seeing_someone', 'available'])
X_test = df_test.drop(columns=['single', 'seeing_someone', 'available'])
y_train_si, y_test_si = df_train['single'], df_test['single']
y_train_se, y_test_se = df_train['seeing_someone'], df_test['seeing_someone']
y_train_av, y_test_av = df_train['available'], df_test['available']

In [17]:
# for each ML algorithm, train data & report its performance against the test data, for each target vector

<div class="alert alert-block alert-warning">
(1) <b>Gradient Boosting Classifier</b>
</div>

In [18]:
helpers.report_performance(GradientBoostingClassifier(), X_train, X_test, y_train_si, y_test_si)

              precision    recall  f1-score   support

           0       0.53      0.03      0.05      1616
           1       0.92      1.00      0.96     18327

    accuracy                           0.92     19943
   macro avg       0.72      0.51      0.50     19943
weighted avg       0.89      0.92      0.88     19943

In [19]:
helpers.report_performance(GradientBoostingClassifier(), X_train, X_test, y_train_se, y_test_se)

              precision    recall  f1-score   support

           0       0.96      1.00      0.98     19163
           1       0.00      0.00      0.00       780

    accuracy                           0.96     19943
   macro avg       0.48      0.50      0.49     19943
weighted avg       0.92      0.96      0.94     19943

In [20]:
helpers.report_performance(GradientBoostingClassifier(), X_train, X_test, y_train_av, y_test_av)

              precision    recall  f1-score   support

           0       0.96      1.00      0.98     19163
           1       0.00      0.00      0.00       780

    accuracy                           0.96     19943
   macro avg       0.48      0.50      0.49     19943
weighted avg       0.92      0.96      0.94     19943

<div class="alert alert-block alert-warning">
(2) <b>Adaptative Boost Classifier</b>
</div>

In [21]:
helpers.report_performance(AdaBoostClassifier(), X_train, X_test, y_train_si, y_test_si)

              precision    recall  f1-score   support

           0       0.35      0.01      0.03      1616
           1       0.92      1.00      0.96     18327

    accuracy                           0.92     19943
   macro avg       0.64      0.51      0.49     19943
weighted avg       0.87      0.92      0.88     19943

In [22]:
helpers.report_performance(AdaBoostClassifier(), X_train, X_test, y_train_se, y_test_se)

              precision    recall  f1-score   support

           0       0.96      1.00      0.98     19163
           1       0.00      0.00      0.00       780

    accuracy                           0.96     19943
   macro avg       0.48      0.50      0.49     19943
weighted avg       0.92      0.96      0.94     19943

In [23]:
helpers.report_performance(AdaBoostClassifier(), X_train, X_test, y_train_av, y_test_av)

              precision    recall  f1-score   support

           0       0.96      1.00      0.98     19163
           1       0.00      0.00      0.00       780

    accuracy                           0.96     19943
   macro avg       0.48      0.50      0.49     19943
weighted avg       0.92      0.96      0.94     19943

<div class="alert alert-block alert-warning">
(3) <b>Random Forest Classifier</b>
</div>

In [24]:
helpers.report_performance(RandomForestClassifier(), X_train, X_test, y_train_si, y_test_si)

              precision    recall  f1-score   support

           0       0.27      0.02      0.03      1616
           1       0.92      1.00      0.96     18327

    accuracy                           0.92     19943
   macro avg       0.59      0.51      0.49     19943
weighted avg       0.87      0.92      0.88     19943

In [25]:
helpers.report_performance(RandomForestClassifier(), X_train, X_test, y_train_se, y_test_se)

              precision    recall  f1-score   support

           0       0.96      1.00      0.98     19163
           1       0.00      0.00      0.00       780

    accuracy                           0.96     19943
   macro avg       0.48      0.50      0.49     19943
weighted avg       0.92      0.96      0.94     19943

In [26]:
helpers.report_performance(RandomForestClassifier(), X_train, X_test, y_train_av, y_test_av)

              precision    recall  f1-score   support

           0       0.96      1.00      0.98     19163
           1       0.06      0.00      0.00       780

    accuracy                           0.96     19943
   macro avg       0.51      0.50      0.49     19943
weighted avg       0.93      0.96      0.94     19943

<div class="alert alert-block alert-warning">
(4) <b>Support Vector Classifier</b>
</div>

In [27]:
helpers.report_performance(SVC(), X_train, X_test, y_train_si, y_test_si)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00      1616
           1       0.92      1.00      0.96     18327

    accuracy                           0.92     19943
   macro avg       0.46      0.50      0.48     19943
weighted avg       0.84      0.92      0.88     19943

In [28]:
helpers.report_performance(SVC(), X_train, X_test, y_train_se, y_test_se)

              precision    recall  f1-score   support

           0       0.96      1.00      0.98     19163
           1       0.00      0.00      0.00       780

    accuracy                           0.96     19943
   macro avg       0.48      0.50      0.49     19943
weighted avg       0.92      0.96      0.94     19943

In [29]:
helpers.report_performance(SVC(), X_train, X_test, y_train_av, y_test_av)

              precision    recall  f1-score   support

           0       0.96      1.00      0.98     19163
           1       0.00      0.00      0.00       780

    accuracy                           0.96     19943
   macro avg       0.48      0.50      0.49     19943
weighted avg       0.92      0.96      0.94     19943

<div class="alert alert-block alert-warning">
(5) <b>Decision Tree Classifier</b>
</div>

In [30]:
helpers.report_performance(DecisionTreeClassifier(), X_train, X_test, y_train_si, y_test_si)

              precision    recall  f1-score   support

           0       0.15      0.19      0.17      1616
           1       0.93      0.91      0.92     18327

    accuracy                           0.85     19943
   macro avg       0.54      0.55      0.54     19943
weighted avg       0.86      0.85      0.86     19943

In [31]:
helpers.report_performance(DecisionTreeClassifier(), X_train, X_test, y_train_se, y_test_se)

              precision    recall  f1-score   support

           0       0.96      0.95      0.95     19163
           1       0.06      0.08      0.07       780

    accuracy                           0.91     19943
   macro avg       0.51      0.51      0.51     19943
weighted avg       0.93      0.91      0.92     19943

In [32]:
helpers.report_performance(DecisionTreeClassifier(), X_train, X_test, y_train_av, y_test_av)

              precision    recall  f1-score   support

           0       0.96      0.95      0.95     19163
           1       0.06      0.09      0.07       780

    accuracy                           0.91     19943
   macro avg       0.51      0.52      0.51     19943
weighted avg       0.93      0.91      0.92     19943

<div class="alert alert-block alert-warning">
(6) <b>Logistic Regression</b>
</div>

In [33]:
helpers.report_performance(LogisticRegression(solver='liblinear'), X_train, X_test, y_train_si, y_test_si)

              precision    recall  f1-score   support

           0       0.40      0.02      0.04      1616
           1       0.92      1.00      0.96     18327

    accuracy                           0.92     19943
   macro avg       0.66      0.51      0.50     19943
weighted avg       0.88      0.92      0.88     19943

In [34]:
helpers.report_performance(LogisticRegression(solver='liblinear'), X_train, X_test, y_train_se, y_test_se)

              precision    recall  f1-score   support

           0       0.96      1.00      0.98     19163
           1       0.00      0.00      0.00       780

    accuracy                           0.96     19943
   macro avg       0.48      0.50      0.49     19943
weighted avg       0.92      0.96      0.94     19943

In [35]:
helpers.report_performance(LogisticRegression(solver='liblinear'), X_train, X_test, y_train_av, y_test_av)

              precision    recall  f1-score   support

           0       0.96      1.00      0.98     19163
           1       0.00      0.00      0.00       780

    accuracy                           0.96     19943
   macro avg       0.48      0.50      0.49     19943
weighted avg       0.92      0.96      0.94     19943

<div class="alert alert-block alert-warning">
(7) <b>Bernoulli Naive Bayes</b>
</div>

In [36]:
helpers.report_performance(BernoulliNB(), X_train, X_test, y_train_si, y_test_si)

              precision    recall  f1-score   support

           0       0.29      0.05      0.08      1616
           1       0.92      0.99      0.95     18327

    accuracy                           0.91     19943
   macro avg       0.61      0.52      0.52     19943
weighted avg       0.87      0.91      0.88     19943

In [37]:
helpers.report_performance(BernoulliNB(), X_train, X_test, y_train_se, y_test_se)

              precision    recall  f1-score   support

           0       0.96      1.00      0.98     19163
           1       0.09      0.00      0.00       780

    accuracy                           0.96     19943
   macro avg       0.52      0.50      0.49     19943
weighted avg       0.93      0.96      0.94     19943

In [38]:
helpers.report_performance(BernoulliNB(), X_train, X_test, y_train_av, y_test_av)

              precision    recall  f1-score   support

           0       0.96      1.00      0.98     19163
           1       0.09      0.00      0.00       780

    accuracy                           0.96     19943
   macro avg       0.52      0.50      0.49     19943
weighted avg       0.93      0.96      0.94     19943

### PARTE 3

<div class="alert alert-block alert-info">
<center><b>Parte 3:</b> EXPORTACIÓN DE PREDICCIONES</center>
</div>

`3.1` **Ingesta de tabla de prueba** → hecho en `2.1`

`3.2` **Predicciones: 21 modelos, 4 predicciones → 84 tablas de predicción**

In [39]:
# define 21 models: 7 algorithms times 3 target vectors
lst = [name for name in glob.glob('./pkl/*')]
models = []
for l in sorted(lst):
    vars()[l.split('/')[-1].split('.')[0]] = l
    models.append(vars()[l.split('/')[-1].split('.')[0]])

Ahora bien, si yo tomo por ejemplo la variable `atheism`, puedo estimar cuál es la predicción de que la persona sea `soltera` para un modelo dado, **para cada respuesta de dicha variable**, de la siguiente forma:

In [40]:
query = ['atheism']
helpers.create_crosstab(GradientBoostingClassifier_single, X_test, y_test_si, query)

atheism
0    0.996837
1    0.991005
Name: single_yhat, dtype: float64

Es decir, como todas las respuestas son binarias, la cantidad de predicciones es siempre $2^\mathrm{variables}$. Si agrego una variable más, agrego una permutación más, y por lo tanto son 4 predicciones totales:

In [41]:
query = ['atheism', 'asian']
helpers.create_crosstab(GradientBoostingClassifier_single, X_test, y_test_si, query)

atheism  asian
0        0        0.996432
         1        0.999556
1        0        0.990078
         1        1.000000
Name: single_yhat, dtype: float64

De esta forma, puedo responder las cuatro consultas:

In [42]:
# define 4 sets of variables to predict for
query1 = ['atheism', 'asian', 'employed', 'pro_dogs', 'chinese']
query2 = ['income_over_75', 'french', 'german','orientation_straight', 'new_york']
query3 = ['education_undergrad_university', 'body_type_regular', 'pro_dogs', 'employed']
query4 = ['taurus', 'indian', 'washington', 'income_between_50_75', 'hinduism']
queries = [query1, query2, query3, query4]

In [43]:
# auxiliar variable to iterate over
y_tests = [y_test_si, y_test_se, y_test_av]*int(len(models)/3)

In [44]:
# iterate over models and queries
tables = []
i,j = 1,1
# engine → motor+dialect://user:password@host/database
engine = create_engine('postgresql://%s:%s@localhost/%s' % (user, password, dbname))
for q in queries: # 4 queries
    for m, y in zip(models, y_tests): # 21 (models, y_test) pairs
        table_name = 'query{}_{}'.format(j, m[6:-4]).lower()
        print(f'Iteration {i:>2} of {len(queries)*len(models)} → ' + table_name)
        table = helpers.create_crosstab(m, X_test, y, q)
        table.to_sql(table_name, con=engine, if_exists='replace')
        tables.append(table)
        i = i+1
    j = j+1
    print('--------')
engine.dispose()

Iteration  1 of 84 → query1_adaboostclassifier_availa
Iteration  2 of 84 → query1_adaboostclassifier_seeing
Iteration  3 of 84 → query1_adaboostclassifier_single
Iteration  4 of 84 → query1_bernoullinb_availa
Iteration  5 of 84 → query1_bernoullinb_seeing
Iteration  6 of 84 → query1_bernoullinb_single
Iteration  7 of 84 → query1_decisiontreeclassifier_availa
Iteration  8 of 84 → query1_decisiontreeclassifier_seeing
Iteration  9 of 84 → query1_decisiontreeclassifier_single
Iteration 10 of 84 → query1_gradientboostingclassifier_availa
Iteration 11 of 84 → query1_gradientboostingclassifier_seeing
Iteration 12 of 84 → query1_gradientboostingclassifier_single
Iteration 13 of 84 → query1_logisticregression_availa
Iteration 14 of 84 → query1_logisticregression_seeing
Iteration 15 of 84 → query1_logisticregression_single
Iteration 16 of 84 → query1_randomforestclassifier_availa
Iteration 17 of 84 → query1_randomforestclassifier_seeing
Iteration 18 of 84 → query1_randomforestclassifier_single
Iteration 19 of 84 → query1_svc_availa
Iteration 20 of 84 → query1_svc_seeing
Iteration 21 of 84 → query1_svc_single
--------
Iteration 22 of 84 → query2_adaboostclassifier_availa
Iteration 23 of 84 → query2_adaboostclassifier_seeing
Iteration 24 of 84 → query2_adaboostclassifier_single
Iteration 25 of 84 → query2_bernoullinb_availa
Iteration 26 of 84 → query2_bernoullinb_seeing
Iteration 27 of 84 → query2_bernoullinb_single
Iteration 28 of 84 → query2_decisiontreeclassifier_availa
Iteration 29 of 84 → query2_decisiontreeclassifier_seeing
Iteration 30 of 84 → query2_decisiontreeclassifier_single
Iteration 31 of 84 → query2_gradientboostingclassifier_availa
Iteration 32 of 84 → query2_gradientboostingclassifier_seeing
Iteration 33 of 84 → query2_gradientboostingclassifier_single
Iteration 34 of 84 → query2_logisticregression_availa
Iteration 35 of 84 → query2_logisticregression_seeing
Iteration 36 of 84 → query2_logisticregression_single
Iteration 37 of 84 → query2_randomforestclassifier_availa
Iteration 38 of 84 → query2_randomforestclassifier_seeing
Iteration 39 of 84 → query2_randomforestclassifier_single
Iteration 40 of 84 → query2_svc_availa
Iteration 41 of 84 → query2_svc_seeing
Iteration 42 of 84 → query2_svc_single
--------
Iteration 43 of 84 → query3_adaboostclassifier_availa
Iteration 44 of 84 → query3_adaboostclassifier_seeing
Iteration 45 of 84 → query3_adaboostclassifier_single
Iteration 46 of 84 → query3_bernoullinb_availa
Iteration 47 of 84 → query3_bernoullinb_seeing
Iteration 48 of 84 → query3_bernoullinb_single
Iteration 49 of 84 → query3_decisiontreeclassifier_availa
Iteration 50 of 84 → query3_decisiontreeclassifier_seeing
Iteration 51 of 84 → query3_decisiontreeclassifier_single
Iteration 52 of 84 → query3_gradientboostingclassifier_availa
Iteration 53 of 84 → query3_gradientboostingclassifier_seeing
Iteration 54 of 84 → query3_gradientboostingclassifier_single
Iteration 55 of 84 → query3_logisticregression_availa
Iteration 56 of 84 → query3_logisticregression_seeing
Iteration 57 of 84 → query3_logisticregression_single
Iteration 58 of 84 → query3_randomforestclassifier_availa
Iteration 59 of 84 → query3_randomforestclassifier_seeing
Iteration 60 of 84 → query3_randomforestclassifier_single
Iteration 61 of 84 → query3_svc_availa
Iteration 62 of 84 → query3_svc_seeing
Iteration 63 of 84 → query3_svc_single
--------
Iteration 64 of 84 → query4_adaboostclassifier_availa
Iteration 65 of 84 → query4_adaboostclassifier_seeing
Iteration 66 of 84 → query4_adaboostclassifier_single
Iteration 67 of 84 → query4_bernoullinb_availa
Iteration 68 of 84 → query4_bernoullinb_seeing
Iteration 69 of 84 → query4_bernoullinb_single
Iteration 70 of 84 → query4_decisiontreeclassifier_availa
Iteration 71 of 84 → query4_decisiontreeclassifier_seeing
Iteration 72 of 84 → query4_decisiontreeclassifier_single
Iteration 73 of 84 → query4_gradientboostingclassifier_availa
Iteration 74 of 84 → query4_gradientboostingclassifier_seeing
Iteration 75 of 84 → query4_gradientboostingclassifier_single
Iteration 76 of 84 → query4_logisticregression_availa
Iteration 77 of 84 → query4_logisticregression_seeing
Iteration 78 of 84 → query4_logisticregression_single
Iteration 79 of 84 → query4_randomforestclassifier_availa
Iteration 80 of 84 → query4_randomforestclassifier_seeing
Iteration 81 of 84 → query4_randomforestclassifier_single
Iteration 82 of 84 → query4_svc_availa
Iteration 83 of 84 → query4_svc_seeing
Iteration 84 of 84 → query4_svc_single
--------

In [45]:
# double-check amount of tables loaded into database
print(f'{len(tables)} tables loaded into database.')

84 tables loaded into database.

**Nota:** Puede darse que algunas variaciones no tengan registros. Un ejemplo es la combinación:
* `chinese` = 1
* `pro_dogs` = 1
* `employed` = 0
* `asian` = 0
* `atheism` = 1

es decir, no hay registros de una persona china, que le gusten los perros, desempleada, atea, y que no sea de etnia asiática. En estos casos particulares, la función `groupby` no consignará dicho grupo, y en consecuencia, `to_sql` simplemente no lo registrará en las tablas.

<div class="alert alert-block alert-danger">
<center>FIN PRUEBA</center>
</div>