In [1]:
# Se importan las librerias que nos permiten llevar bases de datos al lenguaje python.
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
# Se importa libreria pandas
import pandas as pd

In [3]:
# Importamos el módulo csv
import csv

In [4]:
# Se ignoras los avisos
import warnings 
warnings.filterwarnings('ignore')

In [5]:
# Generamos una conexión detallando el host, el nombre de la base de datos, el usuario y el password
conn = psycopg2.connect(host='localhost', dbname='prueba_sql', user='usuario_prueba', password='Admin123')

In [6]:
# Creamos una instancia de trabajo local (cursor)
cur = conn.cursor()

In [7]:
# Ejecutamos dentro del cursor la creacion de la tabla de datos de entrenamiento dentro del motor
cur.execute("""
            CREATE TABLE tabla_persona(
            nombre VARCHAR(255),
            edad INT);
            """)

In [8]:
# Se confirman los cambios generados en el motor 
conn.commit()

In [9]:
"""Establecida la conexión con la base de datos y la tabla creada, procederemos a la ingesta de datos. 
Para ello haremos uso del módulo csv de para facilitar la ingesta de los datos."""


# Generamos la lectura del archivo
with open('./carga_datos.csv', 'r') as file:
    # realizamos la ingesta
    reader = csv.reader(file)
    # ignoramos la primera fila que corresponde al header 
    next(reader)
    # para cada una de las filas remanentes
    for row in reader:
        # ejecutaremos una orden en el cursor que inserte los datos.
        cur.execute("INSERT INTO tabla_persona VALUES (%s, %s);", row)

In [10]:
# Se confirman los cambios generados en el motor 
conn.commit()

In [11]:
"""Es necesario coercionar la lista para ingresarla a un DataFrame y así poder realizar el entrenamiento de 
los modelos"""

# Generamos la consulta en el cursor
cur.execute("SELECT * FROM tabla_persona;")
columnas = cur.fetchall()
# Posteriormente transformamos la consulta en una lista antes de ingresarla como un pd.DataFrame
df = pd.DataFrame(list(columnas))

In [13]:
# Se observa el DataFrame
df

            0   1
0       maria  24
1        juan  35
2      emilio  45
3       pedro  22
4    veronica  34
5        raul  35
6        luis  30
7     gonzalo  31
8   guillermo  31
9        leon  24
10     maximo  21

In [14]:
# Se cierra la conección y el cursor
cur.close()
conn.close()

In [15]:
# generamos una conexión detallando el host, el nombre de la base de datos, el usuario y el password
engine = create_engine('postgresql://usuario_prueba:Admin123@localhost/prueba_sql')

In [16]:
# generamos una tabla a partir del DataFrame df y la creamos como tabla en la BD
df.to_sql('tabla_desde_engine', con=engine, if_exists="replace")