# Desafío Lunes Semana 23 - Gráficos

#### Gustavo Morales, G10 - 23.Sep.2019

### Ejercicio 1

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
fname = "qog_std_cs_jan18.csv"
df = pd.read_csv(fname)

In [9]:
random_seed = 382  # RUT ends in 038-2

In [10]:
df_sample = df[['cname',
                'undp_hdi',
                'ccodealp',
                'ht_region',
                'gle_cgdpc',
                'imf_pop',
                'ffp_hf',
                'wef_qes',
                'wdi_expedu',
                'wdi_ners']].sample(frac=0.5, random_state=random_seed)

In [11]:
df_sample['region'] = df_sample['ht_region'].replace(
            [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
            ['EastEurope', 'LatAm', 'NorthAfrica', 'SubSaharian', 'WesternDem',
             'EastAsia', 'SouthEastAsia', 'SouthAsia', 'Pacific', 'Caribbean']
)

**(R)** El objeto `Pandas` a utilizar en el siguiente ejercicio es:

In [64]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 149 to 141
Data columns (total 11 columns):
cname         97 non-null object
undp_hdi      94 non-null float64
ccodealp      97 non-null object
ht_region     97 non-null int64
gle_cgdpc     95 non-null float64
imf_pop       79 non-null float64
ffp_hf        87 non-null float64
wef_qes       76 non-null float64
wdi_expedu    77 non-null float64
wdi_ners      65 non-null float64
region        97 non-null object
dtypes: float64(7), int64(1), object(3)
memory usage: 9.1+ KB

### Ejercicio 2

In [34]:
df_sample.columns.tolist()

['cname',
 'undp_hdi',
 'ccodealp',
 'ht_region',
 'gle_cgdpc',
 'imf_pop',
 'ffp_hf',
 'wef_qes',
 'wdi_expedu',
 'wdi_ners',
 'region']

Variables continuas: `undp_hdi`, `gle_cgdpc`, `imf_pop`, `ffp_hf`, `wef_qes`, `wdi_expedu`, `wdi_ners`.

Variables discretas: `cname`, `ccodealp`, `region`.

In [68]:
def compute_stats(dataframe):
    dataframe_numeric = dataframe.select_dtypes(exclude=['object'])
    dataframe_categor = dataframe.select_dtypes(exclude=['numeric'])
    pd.options.display.float_format = "{:.1f}".format
    print(dataframe_numeric.describe())
    
    #for var in dataframe_disc.columns.tolist():
    #    print(dataframe_disc[var].value_counts())

In [69]:
compute_stats(df_sample)

TypeError: data type "numeric" not understood

In [ ]:
df_sample[['undp_hdi',
           'gle_cgdpc',
           'imf_pop',
           'ffp_hf',
           'wef_qes',
           'wdi_expedu',
           'wdi_ners']].describe()

Y para las frecuencias (no tiene mucho sentido hacerlo para `ccodealp` porque son valores únicos, pero ahí va):

In [ ]:
df_sample['region'].value_counts()

In [ ]:
df_sample['ccodealp'].value_counts()

### Comparación con compañeros: TODO

### Ejercicio 3

In [ ]:
def get_na(dataframe, var, print_list=False):
    """Returns the quantity and fraction of the 'dataframe' where the input variable 'var' is NaN.
    If asked for, returns the 'dataframe' indices of such cases instead.
    """
    na_df = dataframe[var].isna()
    
    # here 'ascending' is set to False to not change the output ordering
    na_quantity = na_df.value_counts(ascending=False)
    na_fraction = na_df.value_counts('%', ascending=False)
    if print_list:
        return dataframe[dataframe[var].isna()][var]
    
    """
    I have no idea how to force value_counts() to not drop an index
    when one boolean frequency is zero, so I will cover all cases.
    I also do not remember how to select by non-integer index, so I had to
    turn off sorting above and select using iloc.
    """
    
    # if SOME values are NaN
    if len(na_quantity)>1 and print_list==False:
        return var, na_quantity.iloc[1], na_fraction.iloc[1]
    # if everything is NaN
    if len(na_quantity)==1 and na_df.value_counts().index[0]==True and print_list==False:
        return var, na_quantity.iloc[0], na_fraction.iloc[0]
    # if nothing is NaN
    if len(na_quantity)==1 and na_df.value_counts().index[0]==False and print_list==False:
        return var, 0 , 0

Para testear la función agrego:

In [ ]:
df_sample['test']=np.nan

e imprimo:

In [ ]:
get_na(df_sample, 'test')

In [ ]:
get_na(df_sample, 'undp_hdi')

Lo cual es correcto. Para analizar todas las variables del dataframe original `df`:

In [ ]:
df_sample = df_sample.drop(columns='test')

In [ ]:
results = [ get_na(df, col) for col in df.columns.tolist() ]

In [ ]:
variables = [ result[0] for result in results ]
fractions = [ result[2] for result in results ]

In [ ]:
s1 = pd.Series(variables, name='variable')
s2 = pd.Series(fractions, name='na_fraction')

Las tres variables con un mayor porcentaje de casos perdidos son:

In [ ]:
pd.concat([s1, s2], axis=1).sort_values(by='na_fraction', ascending=False).head(3)

Y para obtener las listas de países correspondientes:

In [ ]:
def get_nation_list(dataframe, var):
    print(var)
    for l in dataframe[dataframe[var].isna()]['ccodealp'].tolist():
        print(l, end=' ')
    print('')
    print('---')

In [ ]:
var_list = pd.concat([s1, s2], axis=1).sort_values(by='na_fraction', ascending=False).head(3)['variable']
for var in var_list:
    get_nation_list(df, var)

### Ejercicio 4

In [ ]:
def plot_sample_histogram(dataframe, var, true_mean, sample_mean=False):
    dataframe_sample = dataframe.dropna().sample(frac=0.5, random_state=random_seed)
    mean_tot = dataframe[var].dropna().mean()
    stdd_tot = dataframe[var].dropna().std()
    mean_sam = dataframe_sample[var].mean()
    plt.hist(dataframe[var].dropna(), color='lightgrey')
    plt.axvline(mean_tot, lw=3, color='tomato', ls='-', label='true_mean')
    if sample_mean:
        plt.axvline(mean_sam, lw=3, color='tomato', ls='--', label='sample_mean')
    plt.axvspan(mean_tot-stdd_tot, mean_tot+stdd_tot, alpha=0.1, color='red', label=r'$\mu \pm \sigma$')
    plt.xlabel(var)
    plt.legend()
    plt.tight_layout()

In [ ]:
plot_sample_histogram(df_sample, 'ffp_hf', True, sample_mean=True)

In [ ]:
plot_sample_histogram(df_sample, 'wef_qes', True, sample_mean=True)

In [ ]:
plot_sample_histogram(df_sample, 'wdi_expedu', True, sample_mean=True)

In [ ]:
plot_sample_histogram(df_sample, 'wdi_ners', True, sample_mean=True)

**(R)** Las variables en las que la media de la submuestra es mayor que las de la muestra completa son `ffp_hf` y (marginalmente) `wdi_ners`, pero hay que notar que todas caen dentro de *1-sigma* respecto de la media total.

### Ejercicio 5

In [ ]:
pd.concat([s1, s2], axis=1).sort_values(by='na_fraction').head(4)

Escogeré `fh_pr`, `fh_rol` y `fh_status`.

In [ ]:
def plot_dotplot(dataframe, plot_var, plot_by, global_stat=False, statistic='mean'):
    if statistic=='mean':
        stat = dataframe.groupby(plot_by)[plot_var].mean()
    if statistic=='median':
        stat = dataframe.groupby(plot_by)[plot_var].median()
    plt.plot(stat.values, stat.index.tolist(), 'o', label=plot_by)
    if global_stat:
        mean_tot = dataframe[plot_var].dropna().mean()
        plt.axvline(mean_tot, lw=2, color='tomato', ls='--', label='true_mean')
    plt.legend()
    plt.grid(axis='y')
    plt.xlabel(plot_var)
    plt.tight_layout()

In [ ]:
df['region'] = df['ht_region'].replace(
            [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
            ['EastEurope', 'LatAm', 'NorthAfrica', 'SubSaharian', 'WesternDem',
             'EastAsia', 'SouthEastAsia', 'SouthAsia', 'Pacific', 'Caribbean'])

In [ ]:
plot_dotplot(df, 'fh_pr', 'region', global_stat=True)

In [ ]:
plot_dotplot(df, 'fh_rol', 'region', global_stat=True)

In [ ]:
plot_dotplot(df, 'fh_status', 'region', global_stat=True)

### Ejercicio 6

In [ ]:
df_sample.to_csv('subsample_gmc_demo.csv')

##### ---

In [ ]:
df_sample